@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Archivo');
body{
	/*font-family: 'Indie Flower', cursive;*/
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0px;
	width: 100%;
}
.footer{
    background-color: #c3edd7;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
}
.socialmedia{
    padding: 2% 2% 2% 2%;
    width: 50px;
    height: 50px;
}
/*For navigation bar*/
.roast{
	font-size: 20px;
	text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}	

.fill{
    display: block;
}
/*For typewriter intro*/
.introduction2{
	text-align: center;
	width: 100%;
    height: auto;
	background-color: #c3edd7;
	margin: auto;
	/*position: relative;top: -20px;*/
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}

@media screen and (max-width: 200000000px) {
  .typewriter h1 {
  font-size: 100px;
  text-align: center;
  color: #2E606F;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
	
}
}
@media screen and (max-width: 1200px) {
  .typewriter h1 {
  font-size: 65px;
  text-align: center;
  color: #2E606F;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
	
}
}
