@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Archivo');
body{
    font-family: 'Indie Flower', cursive;
    margin: 0px;
    width: 100%;
}
.footer{
    background-color: #c3edd7;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
}
.socialmedia{
    padding: 2% 2% 2% 2%;
    width: 50px;
    height: 50px;
}
/*For navigation bar*/
.roast{
    font-size: 20px;
    text-align: center;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.fill{
    display: block;
}
/*For typewriter intro*/
.introduction2{
    text-align: center;
    width: 100%;
    height: auto;
    background-color: #c3edd7;
    margin: auto;
    /*position: relative;top: -20px;*/
}


/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: transparent; }
}

@media screen and (max-width: 200000000px) {
    .typewriter h1 {
        font-size: 100px;
        text-align: center;
        color: #2E606F;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em transparent; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .05em;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;

    }
}
@media screen and (max-width: 1200px) {
    .typewriter h1 {
        font-size: 65px;
        text-align: center;
        color: #2E606F;
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        border-right: .15em transparent; /* The typwriter cursor */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        letter-spacing: .05em;
        animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;

    }
}
* {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}