#myface{
	width: 91%;
	border-radius: 25px;
	/*padding-top: 3px;*/
	margin-left: auto;
	margin-right: auto;
}
.picture{
	text-align: center;
}
.sidebar{
	background-color: #c3edd7;
	border-radius: 25px;
	margin-top: 15px;
}
.infotitle{
	padding-top: 15px;
	font-weight: bold;
	padding-left: 25px;
}
.info{
	padding-top: 15px;
}
a:hover {
    text-decoration: none;
    color: blue;
}

